// Set your colors
$primary: #d90b1b;
$secondary: #d90b1b;

$red: #e22b28;
$grey: #8e8e8e;
$light-grey: #f3f3f2;
$dark-grey: #262626;

$warning : #eb860d;
$warning-invert : #FFF;

//Footer
$footer-padding: 1rem;
$footer-background-color: white;

//Menu
$menu-item-color: $dark-grey;
$menu-item-hover-background-color: $primary;
$menu-item-hover-color: white;
$menu-item-active-background-color: $primary;

$dropdown-menu-min-width: 4rem;
$dropdown-content-offset: 10px;

$table-background-color: none;
